html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "IBM Plex Serif", serif;
}
.container {
  background-color: white;
  min-height: calc(100vh - 20px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}

nav {
  background-color: #3f51b5;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 20px;
}
nav ul li:hover {
  background-color: #1a2770;
}
nav ul a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

/* Start: Simple Menu */
.simple ul {
  display: flex;
  flex-direction: column;
}

.simple ul li {
  text-align: center;
  margin-bottom: 0.5rem;
}

.simple ul li:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .simple ul {
    flex-direction: row;
    justify-content: space-between;
  }

  .simple ul li {
    margin-bottom: 0;
  }
}
/* End: Simple Menu */

/* Start: Nav With Icons */
.icons ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icons ul li {
  flex: 0 0 100%;
  display: flex;
}

@media screen and (min-width: 480px) {
  .icons ul li {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 780px) {
  .icons ul li {
    flex: 0 0 25%;
  }
}

.icons ul li a {
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
}

.icons .icon {
  font-size: 2rem;
  flex: 0 0 3rem;
}

.icons .text span {
  font-size: 0.8rem;
  display: block;
  margin-top: 0.5rem;
}

/* End: Nav with Icons */
